$navbar-logo-height: 80px;
$navbar-logo-padding-top: 15px;
$navbar-li-height: 15px;

$navbar-number-social-icons: 4;
$navbar-icon-size: 18px;

$search-field-focus-width: 120px;

$navbar-mobile-font-size: 20px;
$navbar-mobile-padding-vertical: 12px;

.navbar-static-top {

  .navbar-nav li:not(.social-icon) a,
  input[type="search"]
   {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 10px;
    font-weight: 600;
  }

  .navbar-nav li {

    a {
      margin: ($navbar-height - $line-height-computed)/2 0;
    }

    @media (max-width: $grid-float-breakpoint-max) {

      &:not(.social-icon) {
        border-bottom: 1px solid $navbar-default-border;
      }

      a {
        margin: 0;
        text-align: center;
        font-size: $navbar-mobile-font-size;
        padding: $navbar-mobile-padding-vertical 0;

        &:hover {
          background: #333;
          color: #FFF;
        }
      }    
    }
  }

  input[type="search"] {
    width: 30px;
    @include border-radius(0px);
    border: none;
    border-bottom: 1px solid #000;
    @include transition(all 0.3s);
    @include box-shadow(none);
    
    &[value=""] {
      width: 30px;
    }
    &:hover {
        background: rgba(125,125,125,0.2);
    }
    &:focus {
      width: $search-field-focus-width;
      background: #000;
      color: #EFEFEF;
      @include box-shadow (0 0 5px rgba(190, 190, 190, 0.2));
    }

  }

  .navbar-center {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    padding-top: $navbar-logo-padding-top;

    .navbar-logo {
      color: #000;
      @include transition(all 0.3s);
      font-size: $navbar-logo-height;

      :hover {
        color: #555555;
      }
    }
  }

  li.social-icon {

    a {
      padding-left: 7px;
      padding-right: 7px;
      font-size: $navbar-icon-size;
    }

    @media (max-width: $grid-float-breakpoint-max) {
      display: inline-block;
      text-align: center;
      width: 100%/$navbar-number-social-icons;
    }
  }

}

/* WooCommerce Cart icon in Navbar */
a.cart-contents:before {
  font-family: 'icomoon';
  content: '\e680';
  font-size: $navbar-icon-size;
  float: left;
  margin-right: 3px;
}