//
// Typography - Fonts and typefaces
//

/* Define Custom Font
   ... just to save time */
/*
@font-face {
  font-family: 'Myfont';
  src: url('../fonts/myfont/myfont.eot');
  src: local('☺'), url('../fonts/myfont/myfont.woff') format('woff'), url('../fonts/coolvetica/myfont.ttf') format('truetype'), url('../fonts/coolvetica/myfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/