/* BOOTSTRAP VARIABLES */

$navbar-default-brand-color:            #000;
$navbar-default-brand-hover-color:      #555;

$navbar-default-bg:                     #FFF;
$navbar-default-color:                  #444;
$navbar-default-link-color:             #000;
$navbar-default-link-hover-color:       #555;

$navbar-height:                         80x;
$navbar-padding-vertical:               20px;
$nav-link-padding:                      10px 10px;

// Grid settings
// -------------------------

$grid-columns:          12;
$main-sm-columns:       $grid-columns;
$sidebar-sm-columns:    4;


// Brand colors
// -------------------------

$brand-primary:         #27ae60;


// Glyphicons path
// -------------------------

$icon-font-path:        "../vendor/bootstrap-sass-official/assets/fonts/";


// Font settings
// -------------------------

$headings-font-weight: normal;
$font-size-base: 15px;
$headings-font-family:  /* "Myfont", */ "Helvetica Neue", "Helvetica", "Arial", _sans-serif;

// Transitions
// -------------------------

$default-transition-duration: 0.3s;